.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.item_header {
    margin-top: 5px;
}

nav {
    background-color:transparent;
    
}

nav .brand-logo {
    color: #2196F3;
    margin-left: 10px;
}

nav ul a {
    color: #2196F3;
}

h4 {
    text-align: center;
}


.collapsible-header {
    border-color: #2196F3;
    border-style: solid;
}

.collapsible-body {
    border-color: #2196F3;
    border-style: ridge;
}

nav .button-collapse i {
    color: #2196F3;
}