.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.item_header {
    margin-top: 5px;
}

nav {
    background-color:transparent;
    
}

nav .brand-logo {
    color: #2196F3;
    margin-left: 10px;
}

nav ul a {
    color: #2196F3;
}