/* General styling */
.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.item_header {
    margin-top: 5px;
}

nav {
    background-color:transparent;
    
}

nav .brand-logo {
    color: #2196F3;
    margin-left: 10px;
}

nav ul a {
    color: #2196F3;
}

h4 {
    text-align: center;
    color: #2196F3;
}

nav .button-collapse i {
    color: #2196F3;
}

#ad_button {
    text-align: center;
}
/* --MediaQueries--- */

@media (max-width: 550px) {
    nav .brand-logo {
        margin-top: 0;
        font-size: 1.1rem;
    }
}

@media (max-width: 300px) {
    nav .brand-logo {
        margin-top: 0;
        font-size: 0.8rem;
    }
}

@media (max-width: 250px) {
    nav .brand-logo {
        margin-top: 0;
        font-size: 0.5rem;
    }
}
