{% extends 'base.html'%}
{% block content %}
<!----------------------------------This page is created to edit items in the list---------------------------------->
 <ul class="collection">
    {% for item in items %}
    <li class="collection-item avatar">
            <a href="{{url_for('delete_item', item_id=item._id)}}"class="waves-effect waves-light btn btn_small">Del</a>
            <a href="{{url_for('edit_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
{% if item.type_sort == "Vegetable" %}
        <img src="{{url_for('static', filename='img/veg.png')}}" alt="" class="circle">
      {% elif item.type_sort == "Fruit" %}
        <img src="{{url_for('static', filename='img/fruit.jpg')}}" alt="" class="circle">
        {% elif item.type_sort == "Fish" %}
        <img src="{{url_for('static', filename='img/fish.png')}}" alt="" class="circle">
        {% elif item.type_sort == "Herbs" %}
        <img src="{{url_for('static', filename='img/herbs.png')}}" alt="" class="circle">
        {% elif item.type_sort == "Meat" %}
        <img src="{{url_for('static', filename='img/meat.png')}}" alt="" class="circle">
      {% else %}
        <img src="{{url_for('static', filename='img/food.jpg')}}" alt="" class="circle">
        {% endif %}

      <span class="title"><strong>{{item.description}}</strong></span>
      <p>Prepare at <strong>{{item.hydra_temp}} </strong>&#8451 | Dry for <strong>{{item.hydra_time_min}}</strong> to <strong>{{item.hydra_time_max}}</strong> hours | 
<br>
         <span>
            {% if item.blanching == "on" %}
            <span> Blanching of items required before preperation</span>
            {% else %}
            <span> No blanching needed before preparation</span>
            {% endif %}
            </span><br>
            <span>{{item.info}}</span>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    {% endfor %}
  </ul>
   {% endblock %}