{% extends 'base.html'%}
{% block content %}

<div class="row col s12">
    <p class="side_nfo">
        <h5>Welcome fellow food hydrators</h5>
        Use this reference guide to make optimal use of your food hydrator.<br>
        Most food can be dehydrated at home, with the general exclusion of dairy products and highly fatty items. 
        Unlike fruit, meat and most veggies should be cooked (blanched) before drying. 
        Once you have a variety of dried ingredients, you can assemble them into meals. Some whole meals can be prepared and then dehydrated, like soup and risotto. This minimizes prep even further and allows flavors to meld, making for delicious and easy on-trail dinners.
        You can dehydrate a variety of foods at the same time, so long as they require the same drying temperature.
        You can add to the guide information by adding your own preparation items. <br>
        This tool is under construction, so stay tuned for furture improvements to 
        be implemented, <br> such as a filter function and easy searching functions, that will surely be needed, as the list of items will keep growing.
    </p>

<ul class="collection">
 {% for item in items %}
    <li class="collection-item avatar">
        {% if item.type_sort == "Vegetable" %}
        <img src="{{url_for('static', filename='img/veg.png')}}" alt="" class="circle">
      {% elif item.type_sort == "Fruit" %}
        <img src="{{url_for('static', filename='img/fruit.jpg')}}" alt="" class="circle">
        {% elif item.type_sort == "Fish" %}
        <img src="{{url_for('static', filename='img/fish.png')}}" alt="" class="circle">
        {% elif item.type_sort == "Herbs" %}
        <img src="{{url_for('static', filename='img/herbs.png')}}" alt="" class="circle">
        {% elif item.type_sort == "Meat" %}
        <img src="{{url_for('static', filename='img/meat.png')}}" alt="" class="circle">
      {% else %}
        <img src="{{url_for('static', filename='img/food.jpg')}}" alt="" class="circle">
        {% endif %}

      <span class="title"><strong>{{item.description}}</strong></span>
      <p>Prepare at <strong>{{item.hydra_temp}} </strong>&#8451 | Dry for <strong>{{item.hydra_time_min}}</strong> to <strong>{{item.hydra_time_max}}</strong> hours | 
<br>
         <span>
            {% if item.blanching == "on" %}
            <span> Blanching of items required before preperation</span>
            {% else %}
            <span> No blanching needed before preparation</span>
            {% endif %}
            </span><br>
            <span>{{item.info}}</span>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    {% endfor %}
  </ul>
</div>
  {% endblock %}